.cardDiv{
  width: 400px;
}
.cardCon{
  display: flex;
  justify-content: space-around;
}
.singleCard{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 300px;
  min-width: 300px;
  
}
.gitBtn{
  margin: 10px;
}
.navBar{
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  max-height: 150px;
  height: 140px;
  min-height: 100px;
}
.myPic{
  width: 100px;
  height: 100px;
  
}
.aboutMecon{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.aboutBody{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
 
  min-width: 350px;
}
.cardImg{
  width: 150px;
  height: 150px;
  padding-top: 10px;
}
.activeCon{
  width: 100%;
  height: 500px;
  background-color: lightblue;
}
.skillCon{
  width: 100%;
  height: 400px;
  background-color: lightblue;
}